In [4]:
#!pip install selenium

In [146]:
# import libraraies

import selenium
from selenium import webdriver
import pandas as pd

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

import warnings
warnings.filterwarnings('ignore')
import time

In [147]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Administrator\Data Science\WebScrapping\chromedriver.exe')
driver.maximize_window()

url='https://www.olx.in/items/q-cars?isSearchCall=true'
driver.get(url)

In [148]:
link= driver.find_elements_by_xpath('//li[@class="EIR5N"]/a')

In [149]:
url=[]
for i in link:
    url.append(i.get_attribute('href'))

In [150]:
len(url)

500

In [151]:
name=[]
manufacture=[]
model=[]
fuel=[]
driven=[]
automatic=[]
owner=[]
location=[]
postingdate=[]
price=[]


for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        title= driver.find_element_by_class_name('_35xN1')
        name.append(title.text.split('(')[0])
        
    except NoSuchElementException:
        name.append('-')
        
    try:
        title= driver.find_element_by_class_name('_35xN1')
        manufacture.append(title.text.split('(')[1].replace(')',''))
    except NoSuchElementException:
        manufacture.append('-')
        
      
    try:
        Model=driver.find_element_by_class_name('_3tLee')
        model.append(Model.text)
    except NoSuchElementException:
        model.append('-')
    try:
        tab=driver.find_element_by_class_name('aOxkz')
        fuel.append(tab.text.split('\n')[0])
    except NoSuchElementException:
        fuel.append('-')
    try:
        tab=driver.find_element_by_class_name('aOxkz')
        driven.append(tab.text.split('\n')[1])
    except NoSuchElementException:
        driven.append('-')
    try:
        tab=driver.find_element_by_class_name('aOxkz')
        automatic.append(tab.text.split('\n')[2])
    except NoSuchElementException:
        automatic.append('-')
        
    try:
        Owner=driver.find_element_by_xpath('//div[@class="_1l939"]/div[1]/div[2]/div[2]')
        owner.append(Owner.text)
    except NoSuchElementException:
        owner.append('-')
        
    try:
        Location=driver.find_element_by_xpath('//div[@class="_1l939"]/div[2]/div[2]/div[2]')
        location.append(Location.text)
    except NoSuchElementException:
        location.append('-')
    try:
        Posting=driver.find_element_by_xpath('//div[@class="_1l939"]/div[3]/div[2]/div[2]')
        postingdate.append(Posting.text)
    except NoSuchElementException:
        postingdate.append('-')
        
    try:
        Price=driver.find_element_by_class_name('_3FkyT')
        price.append(Price.text)
    except NoSuchElementException:
        price.append('-')
        
        
        
        
        
        
len(name) , len(model), len(fuel),len(driven),len(automatic) ,len(owner),len(location),len(postingdate),len(price)

(500, 500, 500, 500, 500, 500, 500, 500, 500)

In [142]:
len(manufacture)

20

In [154]:
df=pd.DataFrame({'Name': name,'Manufacture':manufacture,'Model':model,'Fuel':fuel,'Driven':driven,'Automatic':automatic,'Owner':owner,'Location':location,'Posting Date':postingdate,'Price':price})

In [153]:
# create excel file
file_name = 'olx.xlsx'

In [155]:
# save data to excel

df.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [115]:
# details one by one

driver.get('https://www.olx.in/item/maruti-suzuki-swift-ldi-2014-diesel-iid-1685939081')
title= driver.find_element_by_class_name('_3FkyT')
title.text

'₹ 2,98,999'

# Car Dekho

In [243]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Administrator\Data Science\WebScrapping\chromedriver.exe')
driver.maximize_window()

url='https://www.cardekho.com/used-cars+in+new-delhi'
driver.get(url)

In [244]:
link= driver.find_elements_by_xpath('//div[@class=" gsc_row minheight"]/div/a')

In [245]:
url=[]
for i in link:
    url.append(i.get_attribute('href'))

In [246]:
len(url)

260

In [247]:
name=[]
manufacture=[]
model=[]
fuel=[]
driven=[]
automatic=[]
owner=[]
location=[]
postingdate=[]
price=[]


for i in url:
    driver.get(i)
    time.sleep(2)
    # Name
    try:
        title= driver.find_element_by_xpath('//div[@class="paddingBorder clearfix"]/div/h1')
        name.append(title.text.split(' ',1)[1])
        
    except NoSuchElementException:
        name.append('-')
        
    # Manufacture year 
    try:
        title= driver.find_element_by_xpath('//div[@class="paddingBorder clearfix"]/div/h1')
        manufacture.append(title.text.split(' ',1)[0])
    except NoSuchElementException:
        manufacture.append('-')
        
    # Model
    try:
        Model=driver.find_element_by_xpath('//div[@class="paddingBorder clearfix"]/div')
        model.append(Model.text.split('\n')[1])
    except NoSuchElementException:
        model.append('-')
       
    # Fuel Type
    try:
        tab=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[3]')
        fuel.append(tab.text.split('\n')[1])
    except NoSuchElementException:
        fuel.append('-')
        
    # KM Driven
    try:
        tab=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[4]')
        driven.append(tab.text.split('\n')[1])
    except NoSuchElementException:
        driven.append('-')
        
    # Automatic/ Manual
    try:
        tab=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[8]')
        automatic.append(tab.text.split('\n')[1])
    except NoSuchElementException:
        automatic.append('-')
      
    # Owner count
    try:
        Owner=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[6]')
        owner.append(Owner.text.split('\n')[1])
    except NoSuchElementException:
        owner.append('-')
      
    # Location
    try:
        Location=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[7]')
        location.append(Location.text.split('\n')[1])
    except NoSuchElementException:
        location.append('-')
        
    # Posting
    try:
        Posting=driver.find_element_by_xpath('//div[@class="_1l939"]/div[3]/div[2]/div[2]')
        postingdate.append(Posting.text)
    except NoSuchElementException:
        postingdate.append('-')
        
    # Price
    try:
        Price=driver.find_element_by_xpath('//div[@class="paddingBorder clearfix"]/div[2]/div/div')
        price.append(Price.text.split('\n')[0])
    except NoSuchElementException:
        price.append('-')
        
        
        
        
        
        
len(name) , len(model), len(fuel),len(driven),len(automatic) ,len(owner),len(location),len(postingdate),len(price)

(260, 260, 260, 260, 260, 260, 260, 260, 260)

In [248]:
data=pd.DataFrame({'Name': name,'Manufacture':manufacture,'Model':model,'Fuel':fuel,'Driven':driven,'Automatic':automatic,'Owner':owner,'Location':location,'Posting Date':postingdate,'Price':price})

In [249]:
data

,Name,Manufacture,Model,Fuel,Driven,Automatic,Owner,Location,Posting Date,Price
0,Maruti Swift,2015,VVT VXI,Petrol,"43,832 Kms",Manual,1st Owner,DL2C,-,"₹ 4,45,000"
1,Maruti Alto 800,2015,VXI,Petrol,"59,500 Kms",Manual,1st Owner,HR72,-,"₹ 2,85,000"
2,Maruti Ciaz,2018,1.4 Sigma,Petrol,"19,880 Kms",Manual,1st Owner,DL9C,-,"₹ 7,80,000"
3,Hyundai i10,2014,Sportz 1.1L,Petrol,"33,764 Kms",Manual,2nd Owner,HR03,-,"₹ 3,23,000"
4,Renault Kiger,2021,RXT AMT,Petrol,"5,799 Kms",Automatic,1st Owner,DL3C,-,"₹ 8,02,000"
...,...,...,...,...,...,...,...,...,...,...
255,Renault Triber,2019,RXT BSIV,Petrol,"12,609 Kms",Manual,1st Owner,HR51,-,"₹ 5,45,000"
256,Maruti Baleno,2019,Delta,Petrol,"19,282 Kms",Manual,1st Owner,HR26,-,"₹ 5,99,000"
257,Maruti Ciaz,2014,ZDi Option,Diesel,"65,952 Kms",Manual,2nd Owner,DL1C,-,"₹ 4,63,000"
258,Maruti Swift,2014,VDI,Diesel,"1,17,915 Kms",Manual,1st Owner,DL2C,-,"₹ 3,26,000"
259,Toyota Corolla Altis,2018,1.8 VL CVT,Petrol,"63,366 Kms",Automatic,1st Owner,DL1C,-,"₹ 14,57,000"

In [250]:
# create excel file
file = 'cardekho.xlsx'

In [251]:
# save data to excel

df.to_excel(file)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [223]:
# details one by one

driver= webdriver.Chrome(r'C:\Users\Administrator\Data Science\WebScrapping\chromedriver.exe')
driver.get('https://www.cardekho.com/buy-used-car-details/used-Maruti-Baleno-1.2-Alpha-cars-New-Delhi_785fa298-10bb-4099-b6ec-6def9c8a1a6d.htm')

In [226]:
title= driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[3]')
title.text.split('\n')[1]

'Petrol'