In [4]:
#!pip install selenium

In [1]:
# import libraraies

import selenium
from selenium import webdriver
import pandas as pd

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

import warnings
warnings.filterwarnings('ignore')
import time

In [147]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Administrator\Data Science\WebScrapping\chromedriver.exe')
driver.maximize_window()

url='https://www.olx.in/items/q-cars?isSearchCall=true'
driver.get(url)

In [148]:
link= driver.find_elements_by_xpath('//li[@class="EIR5N"]/a')

In [149]:
url=[]
for i in link:
    url.append(i.get_attribute('href'))

In [150]:
len(url)

500

In [151]:
name=[]
manufacture=[]
model=[]
fuel=[]
driven=[]
automatic=[]
owner=[]
location=[]
postingdate=[]
price=[]


for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        title= driver.find_element_by_class_name('_35xN1')
        name.append(title.text.split('(')[0])
        
    except NoSuchElementException:
        name.append('-')
        
    try:
        title= driver.find_element_by_class_name('_35xN1')
        manufacture.append(title.text.split('(')[1].replace(')',''))
    except NoSuchElementException:
        manufacture.append('-')
        
      
    try:
        Model=driver.find_element_by_class_name('_3tLee')
        model.append(Model.text)
    except NoSuchElementException:
        model.append('-')
    try:
        tab=driver.find_element_by_class_name('aOxkz')
        fuel.append(tab.text.split('\n')[0])
    except NoSuchElementException:
        fuel.append('-')
    try:
        tab=driver.find_element_by_class_name('aOxkz')
        driven.append(tab.text.split('\n')[1])
    except NoSuchElementException:
        driven.append('-')
    try:
        tab=driver.find_element_by_class_name('aOxkz')
        automatic.append(tab.text.split('\n')[2])
    except NoSuchElementException:
        automatic.append('-')
        
    try:
        Owner=driver.find_element_by_xpath('//div[@class="_1l939"]/div[1]/div[2]/div[2]')
        owner.append(Owner.text)
    except NoSuchElementException:
        owner.append('-')
        
    try:
        Location=driver.find_element_by_xpath('//div[@class="_1l939"]/div[2]/div[2]/div[2]')
        location.append(Location.text)
    except NoSuchElementException:
        location.append('-')
    try:
        Posting=driver.find_element_by_xpath('//div[@class="_1l939"]/div[3]/div[2]/div[2]')
        postingdate.append(Posting.text)
    except NoSuchElementException:
        postingdate.append('-')
        
    try:
        Price=driver.find_element_by_class_name('_3FkyT')
        price.append(Price.text)
    except NoSuchElementException:
        price.append('-')
        
        
        
        
        
        
len(name) , len(model), len(fuel),len(driven),len(automatic) ,len(owner),len(location),len(postingdate),len(price)

(500, 500, 500, 500, 500, 500, 500, 500, 500)

In [142]:
len(manufacture)

20

In [154]:
df=pd.DataFrame({'Name': name,'Manufacture':manufacture,'Model':model,'Fuel':fuel,'Driven':driven,'Automatic':automatic,'Owner':owner,'Location':location,'Posting Date':postingdate,'Price':price})

In [153]:
# create excel file
file_name = 'olx.xlsx'

In [155]:
# save data to excel

df.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [115]:
# details one by one

driver.get('https://www.olx.in/item/maruti-suzuki-swift-ldi-2014-diesel-iid-1685939081')
title= driver.find_element_by_class_name('_3FkyT')
title.text

'₹ 2,98,999'

# Car Dekho

In [15]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\working\chromedriver.exe')
driver.maximize_window()

url='https://www.cardekho.com/used-cars+in+new-delhi'
driver.get(url)

In [16]:
for _ in range(100):


    driver.execute_script("window.scrollBy(0,800)")

In [17]:
link= driver.find_elements_by_xpath('//div[@class=" gsc_row minheight"]/div/a')

In [18]:
url=[]
for i in link:
    url.append(i.get_attribute('href'))

In [19]:
len(url)

40

In [247]:
name=[]
manufacture=[]
model=[]
fuel=[]
driven=[]
automatic=[]
owner=[]
location=[]
postingdate=[]
price=[]


for i in url:
    driver.get(i)
    time.sleep(2)
    # Name
    try:
        title= driver.find_element_by_xpath('//div[@class="paddingBorder clearfix"]/div/h1')
        name.append(title.text.split(' ',1)[1])
        
    except NoSuchElementException:
        name.append('-')
        
    # Manufacture year 
    try:
        title= driver.find_element_by_xpath('//div[@class="paddingBorder clearfix"]/div/h1')
        manufacture.append(title.text.split(' ',1)[0])
    except NoSuchElementException:
        manufacture.append('-')
        
    # Model
    try:
        Model=driver.find_element_by_xpath('//div[@class="paddingBorder clearfix"]/div')
        model.append(Model.text.split('\n')[1])
    except NoSuchElementException:
        model.append('-')
       
    # Fuel Type
    try:
        tab=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[3]')
        fuel.append(tab.text.split('\n')[1])
    except NoSuchElementException:
        fuel.append('-')
        
    # KM Driven
    try:
        tab=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[4]')
        driven.append(tab.text.split('\n')[1])
    except NoSuchElementException:
        driven.append('-')
        
    # Automatic/ Manual
    try:
        tab=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[8]')
        automatic.append(tab.text.split('\n')[1])
    except NoSuchElementException:
        automatic.append('-')
      
    # Owner count
    try:
        Owner=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[6]')
        owner.append(Owner.text.split('\n')[1])
    except NoSuchElementException:
        owner.append('-')
      
    # Location
    try:
        Location=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[7]')
        location.append(Location.text.split('\n')[1])
    except NoSuchElementException:
        location.append('-')
        
    # Posting
    try:
        Posting=driver.find_element_by_xpath('//div[@class="_1l939"]/div[3]/div[2]/div[2]')
        postingdate.append(Posting.text)
    except NoSuchElementException:
        postingdate.append('-')
        
    # Price
    try:
        Price=driver.find_element_by_xpath('//div[@class="paddingBorder clearfix"]/div[2]/div/div')
        price.append(Price.text.split('\n')[0])
    except NoSuchElementException:
        price.append('-')
        
        
        
        
        
        
len(name) , len(model), len(fuel),len(driven),len(automatic) ,len(owner),len(location),len(postingdate),len(price)

(260, 260, 260, 260, 260, 260, 260, 260, 260)

In [248]:
data=pd.DataFrame({'Name': name,'Manufacture':manufacture,'Model':model,'Fuel':fuel,'Driven':driven,'Automatic':automatic,'Owner':owner,'Location':location,'Posting Date':postingdate,'Price':price})

In [249]:
data

,Name,Manufacture,Model,Fuel,Driven,Automatic,Owner,Location,Posting Date,Price
0,Maruti Swift,2015,VVT VXI,Petrol,"43,832 Kms",Manual,1st Owner,DL2C,-,"₹ 4,45,000"
1,Maruti Alto 800,2015,VXI,Petrol,"59,500 Kms",Manual,1st Owner,HR72,-,"₹ 2,85,000"
2,Maruti Ciaz,2018,1.4 Sigma,Petrol,"19,880 Kms",Manual,1st Owner,DL9C,-,"₹ 7,80,000"
3,Hyundai i10,2014,Sportz 1.1L,Petrol,"33,764 Kms",Manual,2nd Owner,HR03,-,"₹ 3,23,000"
4,Renault Kiger,2021,RXT AMT,Petrol,"5,799 Kms",Automatic,1st Owner,DL3C,-,"₹ 8,02,000"
...,...,...,...,...,...,...,...,...,...,...
255,Renault Triber,2019,RXT BSIV,Petrol,"12,609 Kms",Manual,1st Owner,HR51,-,"₹ 5,45,000"
256,Maruti Baleno,2019,Delta,Petrol,"19,282 Kms",Manual,1st Owner,HR26,-,"₹ 5,99,000"
257,Maruti Ciaz,2014,ZDi Option,Diesel,"65,952 Kms",Manual,2nd Owner,DL1C,-,"₹ 4,63,000"
258,Maruti Swift,2014,VDI,Diesel,"1,17,915 Kms",Manual,1st Owner,DL2C,-,"₹ 3,26,000"
259,Toyota Corolla Altis,2018,1.8 VL CVT,Petrol,"63,366 Kms",Automatic,1st Owner,DL1C,-,"₹ 14,57,000"

In [250]:
# create excel file
file = 'cardekho.xlsx'

In [251]:
# save data to excel

df.to_excel(file)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [223]:
# details one by one

driver= webdriver.Chrome(r'C:\Users\Administrator\Data Science\WebScrapping\chromedriver.exe')
driver.get('https://www.cardekho.com/buy-used-car-details/used-Maruti-Baleno-1.2-Alpha-cars-New-Delhi_785fa298-10bb-4099-b6ec-6def9c8a1a6d.htm')

In [226]:
title= driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[3]')
title.text.split('\n')[1]

'Petrol'

# CAR24

In [136]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\working\chromedriver.exe')
driver.maximize_window()

url='https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001'
driver.get(url)

In [132]:
for _ in range(50):
    driver.execute_script("window.scrollBy(0,1080)")

In [137]:
link= driver.find_elements_by_xpath('//div[@class="col-4"]/a')

url=[]
for i in link:
    url.append(i.get_attribute('href'))

In [138]:
len(url)

60

In [139]:
name=[]
manufacture=[]
model=[]
fuel=[]
driven=[]
automatic=[]
owner=[]
location=[]
postingdate=[]
price=[]


# Name and Manufacture
names= driver.find_elements_by_class_name('_3FpCg')

for i in names:
    manufacture.append(i.text.split(" ",1)[0])
    name.append(i.text.split(" ",1)[1])

# Model
var= driver.find_elements_by_class_name('cvakB')
for i in var:
    try:
        model.append(i.text.rsplit(' ',1)[0])
    except NoSuchElementException:
        model.append('-')
        
for i in var:
    try:
        automatic.append(i.text.rsplit(' ',1)[1])
    except NoSuchElementException:
        automatic.append('-')
    

for i in url:
    driver.get(i)
    time.sleep(2)
    
          
    # Fuel Type
    try:
        tab=driver.find_element_by_xpath('//ul[@class="_2tp8h"]/li[3]')
        fuel.append(tab.text)
    except NoSuchElementException:
        fuel.append('-')
        
    # KM Driven
    try:
        tab=driver.find_element_by_xpath('//ul[@class="_2tp8h"]/li')
        driven.append(tab.text)
    except NoSuchElementException:
        driven.append('-')
        
          
    # Owner count
    try:
        Owner=driver.find_element_by_xpath('//ul[@class="_2tp8h"]/li[5]')
        owner.append(Owner.text)
    except NoSuchElementException:
        owner.append('-')
      
    # Location
    try:
        Location=driver.find_element_by_xpath('//ul[@class="_2tp8h"]/li[7]')
        location.append(Location.text)
    except NoSuchElementException:
        location.append('-')
        
    # Posting
    try:
        Posting=driver.find_element_by_xpath('//div[@class="_1l939"]/div[3]/div[2]/div[2]')
        postingdate.append(Posting.text)
    except NoSuchElementException:
        postingdate.append('-')
        
    # Price
    try:
        Price=driver.find_element_by_xpath('//ul[@class="_10Etm"]/li/span[2]')
        price.append(Price.text)
    except NoSuchElementException:
        price.append('-')
        
        
        
        
        
        
len(name) , len(model), len(fuel),len(driven),len(automatic) ,len(owner),len(location),len(postingdate),len(price)

(60, 60, 60, 60, 60, 60, 60, 60, 60)

In [140]:
car24=pd.DataFrame({'Name': name,'Manufacture':manufacture,'Model':model,'Fuel':fuel,'Driven':driven,'Automatic':automatic,'Owner':owner,'Location':location,'Posting Date':postingdate,'Price':price})
car24

,Name,Manufacture,Model,Fuel,Driven,Automatic,Owner,Location,Posting Date,Price
0,Hyundai Verna,2019,1.6 SX VTVT (O),Petrol,"80,631 km",Manual,1st Owner,HR-26,-,"₹ 9,81,699"
1,KIA SELTOS,2020,HTX AT PETROL,Petrol,"21,784 km",Automatic,2nd Owner,HR-26,-,"₹ 14,29,999"
2,Maruti Baleno,2018,SIGMA 1.2 K12,Petrol,"20,330 km",Manual,1st Owner,DL-6C,-,"₹ 5,24,799"
3,Maruti Alto 800,2013,LXI,Petrol,"12,849 km",Manual,2nd Owner,HR-26,-,"₹ 2,55,999"
4,Jaguar XF,2013,2.2 DIESEL,Diesel,"28,289 km",Automatic,2nd Owner,DL-6C,-,"₹ 16,45,899"
5,Hyundai i10,2009,ERA 1.1 IRDE,Petrol,"44,319 km",Manual,1st Owner,UP-16,-,"₹ 2,04,199"
6,Nissan Micra,2010,XL PETROL,Petrol,"61,862 km",Manual,1st Owner,HR-26,-,"₹ 2,10,599"
7,Maruti Wagon R 1.0,2014,LXI,Petrol,"26,866 km",Manual,1st Owner,UP-32,-,"₹ 3,74,399"
8,Maruti Swift,2019,VXI,Petrol,"32,251 km",Manual,1st Owner,UP-37,-,"₹ 5,60,399"
9,Volkswagen Polo,2015,COMFORTLINE 1.2L PETROL,Petrol,"51,495 km",Manual,1st Owner,DL-3C,-,"₹ 4,40,099"
10,Jeep Compass,2019,2.0 LIMITED,Diesel,"46,400 km",Manual,1st Owner,HR-26,-,"₹ 20,19,999"
11,MG HECTOR PLUS,2020,SHARP HYBRID PETROL,Petrol,"2,775 km",Manual,1st Owner,UP-14,-,"₹ 18,37,899"
12,Renault Kwid,2018,RXL,Petrol,"22,505 km",Manual,2nd Owner,HR-79,-,"₹ 3,22,499"
13,Hyundai Elite i20,2019,1.2 MAGNA PLUS VTVT,Petrol,"22,638 km",Manual,2nd Owner,DL-10,-,"₹ 6,17,899"
14,Nissan Micra,2014,XE DIESEL,Diesel,"63,433 km",Manual,1st Owner,DL-1C,-,"₹ 2,75,299"
15,Hyundai VENUE,2021,S MT 1.2 KAPPA,Petrol,"21,490 km",Manual,1st Owner,UP-14,-,"₹ 8,21,399"
16,Honda City,2016,SV MT PETROL,Petrol,"45,246 km",Manual,1st Owner,DL-9C,-,"₹ 6,64,499"
17,Renault Kiger,2021,RXT 1.0 AMT,Petrol,"6,344 km",Automatic,1st Owner,DL-8C,-,"₹ 8,21,699"
18,Hyundai Grand i10,2019,MAGNA 1.2 VTVT,Petrol,"16,327 km",Manual,1st Owner,UP-15,-,"₹ 5,65,899"
19,Maruti Baleno,2018,DELTA 1.2 K12,Petrol,"23,315 km",Manual,3rd Owner,DL-8C,-,"₹ 5,38,399"
20,Maruti Alto K10,2011,VXI,Petrol,"37,580 km",Manual,1st Owner,HR-26,-,"₹ 2,39,999"
21,Hyundai VENUE,2021,1.5 SX CRDI MT,Diesel,"2,213 km",Manual,1st Owner,DL-5C,-,"₹ 12,13,499"
22,Maruti Ciaz,2021,ALPHA 1.5 MT VTVT SHVS,Petrol,"9,370 km",Manual,1st Owner,UP-14,-,"₹ 12,13,599"
23,Renault Kwid,2020,RXL,Petrol,"19,767 km",Manual,1st Owner,HR-95,-,"₹ 3,48,299"
24,Maruti Wagon R 1.0,2010,LXI,Petrol,"48,915 km",Manual,2nd Owner,DL-2C,-,"₹ 2,44,099"
25,Hyundai i10,2011,SPORTZ 1.2 KAPPA2,Petrol,"66,782 km",Manual,2nd Owner,DL-4C,-,"₹ 2,88,599"
26,Toyota Fortuner,2015,3.0 AT 4X2,Diesel,"90,086 km",Automatic,2nd Owner,HR-26,-,"₹ 15,77,799"
27,Hyundai i20,2010,MAGNA O 1.2,Petrol,"42,422 km",Manual,2nd Owner,DL-4C,-,"₹ 2,70,399"
28,Hyundai Grand i10,2020,MAGNA 1.2 VTVT,Petrol,"13,223 km",Manual,2nd Owner,DL-4C,-,"₹ 5,92,299"
29,Honda City,2020,VX MT PETROL,Petrol,"7,212 km",Manual,1st Owner,HR-26,-,"₹ 13,67,299"
30,Honda City,2010,S MT PETROL,Petrol,"34,566 km",Manual,1st Owner,DL-4C,-,"₹ 4,23,899"
31,Toyota URBAN CRUISER,2021,MID,Petrol,"11,828 km",MT,1st Owner,HR-26,-,"₹ 9,25,899"
32,Mercedes Benz E Class,2013,E 250 CDI AVANTGARDE,Diesel,"42,881 km",Automatic,2nd Owner,DL-1C,-,"₹ 14,55,599"
33,Renault Kwid,2019,RXT Opt,Petrol,"2,406 km",Manual,1st Owner,HR-26,-,"₹ 3,77,099"
34,Hyundai VENUE,2021,1.0L Turbo GDI SX MT,Petrol,"29,645 km",Manual,1st Owner,HR-51,-,"₹ 9,90,499"
35,Renault Kwid,2021,1.0 CLIMBER OPT AMT,Petrol,"7,760 km",Automatic,1st Owner,UP-14,-,"₹ 5,56,499"
36,Maruti Alto K10,2011,VXI,Petrol,"26,475 km",Manual,1st Owner,DL-9C,-,"₹ 2,35,499"
37,Maruti Dzire,2017,VXI,Petrol,"19,210 km",Manual,1st Owner,UP-16,-,"₹ 6,41,899"
38,Hyundai i20,2010,MAGNA O 1.2,Petrol,"60,774 km",Manual,1st Owner,DL-1C,-,"₹ 2,98,999"
39,Maruti Vitara Brezza,2021,VXI,Petrol,"5,287 km",Manual,1st Owner,DL-6C,-,"₹ 9,10,199"
40,Renault Kwid,2021,1.0 RXT Opt,Petrol,"6,962 km",Manual,1st Owner,UP-14,-,"₹ 5,00,199"
41,Hyundai i20,2013,ERA 1.4 CRDI,Diesel,"29,974 km",Manual,1st Owner,DL-10,-,"₹ 3,06,299"
42,Honda CRV,2015,2.0 2WD AT,Petrol,"73,937 km",Automatic,1st Owner,DL-9C,-,"₹ 12,68,899"
43,Maruti Ciaz,2021,ALPHA 1.5 MT VTVT SHVS,Petrol,"4,536 km",Manual,1st Owner,HR-98,-,"₹ 11,84,499"
44,Maruti Ertiga,2019,ZXI SMART HYBRID,Petrol,"61,780 km",Manual,1st Owner,UP-16,-,"₹ 8,91,899"
45,Hyundai Elite i20,2017,SPORTZ 1.2,Petrol,"30,697 km",Manual,3rd Owner,DL-8C,-,"₹ 5,22,799"
46,Hyundai Grand i10,2017,SPORTZ (O) 1.2 AT VTVT,Petrol,"12,855 km",Automatic,1st Owner,DL-12,-,"₹ 6,22,699"
47,Hyundai NEW SANTRO,2019,ERA 1.1,Petrol,"11,358 km",Manual,1st Owner,HR-51,-,"₹ 4,38,999"
48,Hyundai Grand i10,2016,MAGNA 1.2 VTVT,Petrol,"45,277 km",Manual,1st Owner,HR-26,-,"₹ 4,28,999"
49,Tata Tiago,2021,XTA 1.2 PETROL,Petrol,"6,568 km",Automatic,1st Owner,DL-5C,-,"₹ 7,10,599"
50,Maruti Vitara Brezza,2020,ZDI + AMT,Diesel,"18,191 km",Automatic,1st Owner,DL-2C,-,"₹ 11,04,299"
51,Honda Jazz,2018,1.2 SV MT,Petrol,"23,733 km",Manual,2nd Owner,DL-8C,-,"₹ 6,12,599"
52,Toyota Innova,2014,2.5 VX 8 STR BS IV,Diesel,"82,295 km",Manual,1st Owner,HR-55,-,"₹ 9,64,299"
53,Mahindra Thar,2021,LX 4WD AT CONVERTIBLE,Petrol,"3,120 km",Automatic,1st Owner,HR-26,-,"₹ 18,02,499"
54,Hyundai Creta,2017,1.4 E PLUS CRDI,Diesel,"78,203 km",Manual,1st Owner,DL-8C,-,"₹ 8,55,999"
55,Hyundai i10,2014,MAGNA 1.1 IRDE2,Petrol,"32,525 km",Manual,1st Owner,HR-26,-,"₹ 3,73,179"
56,MG HECTOR,2019,SHARP DCT PETROL,Petrol,"12,267 km",Automatic,1st Owner,UP-16,-,"₹ 17,74,199"
57,Maruti Baleno,2019,SIGMA 1.2 K12,Petrol,"17,753 km",Manual,1st Owner,UP-14,-,"₹ 5,63,199"
58,Tata ALTROZ,2020,XZ 1.2,Petrol,"31,910 km",Manual,1st Owner,HR-19,-,"₹ 8,39,899"
59,Honda Jazz,2021,VX 1.2 CVT,Petrol,"6,910 km",Automatic,1st Owner,HR-29,-,"₹ 10,38,399"

In [75]:
# details one by one

driver= webdriver.Chrome(r'C:\working\chromedriver.exe')
driver.get('https://www.cars24.com/buy-used-kia-seltos-2020-cars-new-delhi-10019992773/')

In [88]:
title= driver.find_element_by_xpath('//ul[@class="_10Etm"]/li/span[2]')
title.text

'₹ 14,29,999'