In [4]:
#!pip install selenium

In [59]:
# import libraraies

import selenium
from selenium import webdriver
import pandas as pd

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

import warnings
warnings.filterwarnings('ignore')
import time

In [129]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Administrator\Data Science\WebScrapping\chromedriver.exe')
driver.maximize_window()

url='https://www.olx.in/items/q-cars?isSearchCall=true'
driver.get(url)

In [130]:
link= driver.find_elements_by_xpath('//li[@class="EIR5N"]/a')

In [131]:
url=[]
for i in link:
    url.append(i.get_attribute('href'))

In [132]:
len(url)

20

In [133]:
name=[]
manufacture=[]
model=[]
fuel=[]
driven=[]
automatic=[]
owner=[]
location=[]
postingdate=[]
price=[]


for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        title= driver.find_element_by_class_name('_35xN1')
        name.append(title.text.split('(')[0])
        
    except NoSuchElementException:
        name.append('-')
        
    try:
        title= driver.find_element_by_class_name('_35xN1')
        manufacture.append(title.text.split('(')[1].replace(')',''))
    except NoSuchElementException:
        manufacture.append('-')
        
      
    try:
        Model=driver.find_element_by_class_name('_3tLee')
        model.append(Model.text)
    except NoSuchElementException:
        model.append('-')
    try:
        tab=driver.find_element_by_class_name('aOxkz')
        fuel.append(tab.text.split('\n')[0])
    except NoSuchElementException:
        fuel.append('-')
    try:
        tab=driver.find_element_by_class_name('aOxkz')
        driven.append(tab.text.split('\n')[1])
    except NoSuchElementException:
        driven.append('-')
    try:
        tab=driver.find_element_by_class_name('aOxkz')
        automatic.append(tab.text.split('\n')[2])
    except NoSuchElementException:
        automatic.append('-')
        
    try:
        Owner=driver.find_element_by_xpath('//div[@class="_1l939"]/div[1]/div[2]/div[2]')
        owner.append(Owner.text)
    except NoSuchElementException:
        owner.append('-')
        
    try:
        Location=driver.find_element_by_xpath('//div[@class="_1l939"]/div[2]/div[2]/div[2]')
        location.append(Location.text)
    except NoSuchElementException:
        location.append('-')
    try:
        Posting=driver.find_element_by_xpath('//div[@class="_1l939"]/div[3]/div[2]/div[2]')
        postingdate.append(Posting.text)
    except NoSuchElementException:
        postingdate.append('-')
        
    try:
        Price=driver.find_element_by_class_name('_3FkyT')
        price.append(Price.text)
    except NoSuchElementException:
        price.append('-')
        
        
        
        
        
        
len(name) , len(model), len(fuel),len(driven),len(automatic) ,len(owner),len(location),len(postingdate),len(price)

(20, 20, 20, 20, 20, 20, 20, 20, 20)

In [134]:
len(manufacture)

20

In [135]:
pd.DataFrame({'Name': name,'Manufacture':manufacture,'Model':model,'Fuel':fuel,'Driven':driven,'Automatic':automatic,'Owner':owner,'Location':location,'Posting Date':postingdate,'Price':price})

,Name,Manufacture,Model,Fuel,Driven,Automatic,Owner,Location,Posting Date,Price
0,Maruti Suzuki Ertiga,2022,VXI Petrol,DIESEL,4000.0 KM,MANUAL,1st,"New Gurgaon, Gurgaon",28-MAY-22,"₹ 12,00,000"
1,Maruti Suzuki Wagon R 1.0,2020,1.0 VXi,PETROL,7900.0 KM,MANUAL,1st,"Devinagar, Kollam",17-MAY-22,"₹ 5,25,000"
2,-,-,-,-,-,-,-,-,-,-
3,Maruti Suzuki Vitara Brezza,2018,VDi,DIESEL,61000.0 KM,MANUAL,1st,"Sector 21A, Chandigarh",03-JUN-22,"₹ 7,95,000"
4,Tata Indica Vista,2011,2008-2013 Quadrajet LS,DIESEL,"130,000 KM",MANUAL,2nd,"Kainoor, Nadathara",03-JUN-22,"₹ 1,15,000"
5,Maruti Suzuki Swift,2013,2011-2014 VDI,DIESEL,"88,000 KM",MANUAL,3rd,"Drari 283, Mohali",03-JUN-22,"₹ 3,30,000"
6,Maruti Suzuki Ciaz,2021,Smart Hybrid Delta,PETROL,18000.0 KM,MANUAL,1st,"Sector 21D, Chandigarh",03-JUN-22,"₹ 9,35,000"
7,Mahindra Bolero,2013,SLE,DIESEL,63000.0 KM,MANUAL,1st,"Kalkaji, Delhi",03-JUN-22,"₹ 4,25,000"
8,Volkswagen Beetle,2010,Others,PETROL,48000.0 KM,AUTOMATIC,3rd,"Nauroji Nagar, Delhi",03-JUN-22,"₹ 10,31,000"
9,Maruti Suzuki Ertiga,2014,2012-2015 VDI,DIESEL,"98,500 KM",MANUAL,2nd,"Taranagar Industrial Area, Taranagar",03-JUN-22,"₹ 4,80,580"
10,Maruti Suzuki Alto 800,2012,2012-2016 Base,PETROL,"65,000 KM",MANUAL,2nd,"Nagavaram, Wanaparthy",03-JUN-22,"₹ 2,05,000"
11,Volkswagen Polo,2016,GT TSI,PETROL,"70,000 KM",AUTOMATIC,2nd,"Sector 21D, Chandigarh",03-JUN-22,"₹ 6,85,000"
12,Ford Ecosport,2013,Titanium 1.5 TDCi (Opt),DIESEL,102000.0 KM,MANUAL,2nd,"Nauroji Nagar, Delhi",03-JUN-22,"₹ 3,21,000"
13,Maruti Suzuki Ciaz,2015,2014-2017 ZXi Plus,PETROL,45000.0 KM,MANUAL,1st,"Sector 21D, Chandigarh",03-JUN-22,"₹ 6,35,000"
14,Maruti Suzuki Omni,2017,8 Seater BSIV,PETROL,57000.0 KM,MANUAL,1st,Chalsa Mahabari,03-JUN-22,"₹ 2,65,000"
15,Honda Accord,2007,2.4 Automatic,PETROL,57000.0 KM,AUTOMATIC,1st,"Tagore Garden, Delhi",03-JUN-22,"₹ 1,51,000"
16,Honda City,2018,V,PETROL,25000.0 KM,MANUAL,1st,"Sector 21D, Chandigarh",03-JUN-22,"₹ 9,35,000"
17,Tata Others,2011,,DIESEL,"100,000 KM",MANUAL,2nd,"Annyepeta, Draksharamam",03-JUN-22,"₹ 1,40,000"
18,Volkswagen Polo,2014,1.5 TDI Comfortline,DIESEL,75000.0 KM,MANUAL,1st,"Sector 21D, Chandigarh",03-JUN-22,"₹ 4,15,000"
19,Maruti Suzuki A-Star,2011,AT VXI,PETROL,-- KM,--,1st,"Thoubal Khunou, Thoubal",03-JUN-22,"₹ 2,20,000"

In [115]:
# details one by one

driver.get('https://www.olx.in/item/maruti-suzuki-swift-ldi-2014-diesel-iid-1685939081')
title= driver.find_element_by_class_name('_3FkyT')
title.text

'₹ 2,98,999'